{% extends "base.html" %}
{% block menu %}
    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        {%comment %}<li><a href="{% url 'account_email' %}">Change E-mail</a></li>{% endcomment %}
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
{% endblock %}
